.tile {
	height: 20rem;
	margin-bottom: 2rem;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	background-color: rgb(240, 240, 240);
}

.poster {
	height: 14rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: .2rem;
	margin-bottom: 2.25rem;
}

.card-title {
	text-align: center;
	padding-top: 1rem;
}

.card-overview {
	padding-right: 2rem;
	padding-left: 2rem;
	text-align: center;
	font-size: 1.1rem;
	overflow: hidden;
	box-sizing: content-box;
	max-height: 11rem;
	padding-top: 1.5rem;
	color: rgb(124, 124, 124);
}

.card-overview-bg {
	background-color: rgb(250, 250, 250);
	height: 87%;
	margin-right: 2rem;
	border-radius: .6rem;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
    .card-overview-bg {
		display: none;
	}

	.poster {
		height: 26rem;
	}
}
