.footer {
	background-color: rgb(240, 240, 240);
	padding-top: 2.5rem;
	padding-right: 3rem;
	padding-left: 3rem;
	padding-bottom: 1rem;
  }

.tmdb-logo {
	height: 5rem;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
	.thank-you {
		margin-top: 3rem;
	}
}