.infoPageMain {
	background-color: white;
	margin-top: 2rem;
}

.titleBlockBg {
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.titleBlock {
	background-image: linear-gradient(rgba(26, 26, 26, 0.829), rgba(43, 43, 43, 0.247));
	height: 22rem;
}

.itemTitle {
	font-size: 4rem;
	color: #fff;
	padding-top: 3.75rem;
}